:root {
    /* background */
    --bg-main: #121212;

    /* text */
    --text-main: #B7EBEC;
    --text-muted: #b3b3b3;

    /* accent & border */
    --accent: #0482a5;
    --border: #0482a5;
    --border-active: #00b7c3;

}